* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
:root {
    --header-bg: #10375c;
}
/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.btn {
    --height: 60px;
    display: inline-block;
    padding: 0 20px 0;
    min-width: 205px;
    text-align: center;
    height: var(--height);
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: var(--height);
    background-color: #2e80ce;
    border-radius: 999px;
    border: 1px solid #2e80ce;
}
.btn:hover {
    background-color: rgba(224, 248, 8, 0.8);
    color: #0a0a0a;
    cursor: pointer;
}
.section-heading{
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; 
    letter-spacing: 0.02em;
}
.section-desc{
    margin-top: 18px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; 
}
/* Header */
.header {
    min-height: 100vh;
    background: var(--header-bg);
    padding-top: 30px;
}
.logo {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}
.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}
.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}
.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}
.logo__text {
    margin-left: 0.6em;
    text-align: right;
}
.logo__branch {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
}
.logo__branch--small {
    font-size: 1.2em;
    font-weight: 300;
}
/* navbar */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list {
    display: flex;
}
.header-action__login,
.navbar__link {
    padding: 24px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    color: #c9d2da;
}
.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    top: -2px;
    left: -8px;
}
.header-action {
    display: flex;
    align-items: center;
}
.header-action__signup {
    --height: 44px;
    min-width: 104px;
}
.header-action__login {
    margin-right: 7px;
}
/* hero */
.hero{
    display: flex;
    align-items: center;
    margin-top: 76px;
}
.hero__content {
    width: 44%;
    flex-shrink: 0;
}
.hero__media{
    flex-grow: 1;
}
.hero__heading{
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; 
    letter-spacing: -1.4px;
}
.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; 
}
.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}
.hero__phone{
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.67;
    margin-left: 38px;
}
.hero__images{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.hero__img{
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}
.hero__img:first-child{
    position: relative;
}
.hero__img:last-child{
    margin-left: -6px;
    width: 210px;
    height: 410px;
}
/* service */
.service{
    padding: 170px 0;
}
.service .section-heading,
.service .section-desc {
    text-align: center;
}
.section__desc{
    margin-left: auto;
    margin-right: auto;
    width: 468px;
}
.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.service__img{
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}
.service-item{
    display: flex;
    width: 470px;
    background-color: #fff;
    padding: 22px;
    border-radius: 10px;
    transition: .25s;
}
.service-item__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background:  #EFF6FD;
    flex-shrink: 0;
    color: #10375C;
    transition: .25s;
}
.service-item__body{
    margin-left: 20px;
}
.service-item__heading{
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.28;
}
.service-item__desc{
    margin-top: 8px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
.service-item:hover{
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.1);
}
.service-item:hover .service-item__icon{
    background-color: #2E80CE;
    color: #fff;
}
.service__list{
    margin-bottom: 55px;
}
/* work */
.work{
    background-color: #F6FBFF;
    padding: 100px 0;
}
.work__desc{
    width: 468px;
}
.work__list{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    column-gap: 30px;
    margin-top: 70px;
}
.work-item{
    padding: 44px;
    border: 16px solid #EAF6FF;
    border-radius: 4px;
}
.work-item__heading{
    margin-top: 20px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}
.work-item__desc{
    margin-top: 28px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
.work-item__more{
    display: inline-block;
    margin-top: 18px;
    color: #2E80CE;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.work-item:hover{
    transform: translateY(-16px);
    transition: 0.25s;
    border: 16px solid #2E80CE ;
}
/* feature */
.feature {
    margin-top: 85px;
    padding: 85px;
}
.feature__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}
.feature__media{
    width: 49%;
}
.feature__images{
    position: relative;
    display: flex;
    padding: 0 58px 121px 0;
}
.feature__img{
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}
.feature__img:last-child{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
}
.feature__cta{
    margin-top: 38px;
}
/* member */
.member {
    padding: 85px 0;
    text-align: center;
}
.member__header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member__cta{
    margin-top: 38px;
}
.member__list{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    column-gap: 30px;
    margin-top: 70px;
}
.member-item__img-bg{
    padding-top: 28px;
    background-color: #EAF6FF;
    border-radius: 6px;
    overflow: hidden;
}
.member-item__thumb{
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
}
.member-item__name{
    margin-top: 12px;
    color: #10375C;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}
.member-item__title{
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86;
}
.member__control{
    display: flex;
    justify-content: center;
    margin-top: 38px;
    column-gap: 18px;
}
.member__control-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575F66;
    outline: none;
    color: #575F66;
    background: #fff;
    transition: .25s;
}
.member__control-btn:hover{
    background-color: #2E80CE;
    border-color: #2E80CE;
    color: #fff;
    cursor: pointer;
}
.member__control-next-icon{
    rotate: 180deg;
}